# Ignore environment variables
.env
*.log
config/
secrets/

# Python
__pycache__/
*.pyc

# Virtual Environments
venv/
env/

# Logs
*.log
logs/*
!logs/.keep

# IDE files
.vscode/
.idea/

# ChromaDB memory
chromadb_memory/